body {
    padding: 0;
    margin: 0 auto;
    
    overflow: hidden;
    /* overflow-x: hidden; */
}

/* .gotit {

    font-size: 4rem;

    text-transform: uppercase;
    color: #ee4540;
    opacity: .1;

} */

.txt-guide {
    
    font-size: 7rem;
    color: #ee4540;
    opacity: .1;
}



#field {
    text-transform: uppercase;
    
    font-weight: 700;
    text-align: center;
    justify-content: center;
    /* padding: 500px 500px; */
    height: 90vh;
    cursor:progress; 
    background:  #2d132c;
    border: #000 solid 3px;
}

.unselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

#result {
    cursor: none;
    text-align: center;

    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #801336;
    /* border: #fff 3px solid; */
    /* margin-bottom: 10px; */

}

#success {
    display: none;

    font-size: 4rem;

    text-transform: uppercase;

    color: #ee4540;
    opacity: .7;

}


.btn {
    position: absolute;
    z-index: 100;
    top: 75vh;
    left: 87vw;

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

          /* по-умолчанию для <button>, но пригодится для <a> */
   display: inline-block;
   /* text-align: */
   text-decoration: none;/* создаём маленькие отступы, если кнопки перенесутся на две строки */
   margin: 2px 0;/* невидимая граница (понадобится для цвета при наведении/фокусе) */
   border: solid 1px transparent;
   border-radius: 50%;/* размер строится из текста и отступов (без width/height) */
   padding: 0.5rem 1rem;/* убедитесь, что достаточно контраста! */
   color: #2d132c;
   background-color: #ee4540;

   height: 30rem;
   width: 30rem;

}

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

/* .btn:hover,
.btn:focus {
   color: #9555af;
   border-color: currentColor;
   background-color: white;
} */

.btn {
    /* ... */
    /* все браузеры: сбрасываем дефолтный outline,
       так как у нас уже есть собственные стили*/
    outline: none;
 }/* Firefox: сбрасываем внутреннюю границу при фокусе*/
 .btn::-moz-focus-inner {
    border: none;

 }

.icon {
    position: relative;
    z-index: 101;
    top: -6rem;
    left: -5rem;
}

